/*Custom properties*/
:root {
    --primary: #3a0ca3;
    --secondary: #adff02;
    --grey: #495057;
    --lightGrey: #adb5bd;
    --white: #ffffff;
    --black: #1f1e1e;

    --separation: 5rem;

    --primaryFont: 'Roboto', sans-serif;
    --secondaryFont: 'Lato', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    font-family: var(--primaryFont);
    font-size: 1.6rem;
    line-height: 1.5;
}

/******Global styles******/
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: 900;
    font-family: var(--secondaryFont);
    margin: calc( var(--separation) / 2) 0;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    display: block;
    max-width: 100%;
}

/****** Useful classes ******/
.text-center {
    text-align: center;
}